/* html */
section {
    display: none;
    /* pointer-events: none; */
}

#start--s{
    display: block;
}

/* html */
body:has(#html--v:checked) #html--s{
    display: block;
}
body:has(#html--v:checked) #html--t{
    background-color:#242d44;
}
body:has(#html--v:checked) #start--s{
    display: none;
}

/* structure */
body:has(#structure--v:checked) #structure--s{
    display: block;
}
body:has(#structure--v:checked) #structure--t{
    background-color:#242d44;
}
body:has(#structure--v:checked) #start--s{
    display: none;
}

/* Tags intro */
body:has(#tags-intro--v:checked) #tags-intro--s{
    display: block;
}
body:has(#tags-intro--v:checked) #tags-intro--t{
    background-color:#242d44;
}
body:has(#tags-intro--v:checked) #start--s{
    display: none;
}

/* attributes intro */
body:has(#attributes-intro--v:checked) #attributes-intro--s{
    display: block;
}
body:has(#attributes-intro--v:checked) #attributes-intro--t{
    background-color:#242d44;
}
body:has(#attributes-intro--v:checked) #start--s{
    display: none;
}

/* meta tags */
body:has(#meta--v:checked) #meta--s{
    display: block;
}
body:has(#meta--v:checked) #meta--t{
    background-color:#242d44;
}
body:has(#meta--v:checked) #start--s{
    display: none;
}

/* meta tags */
body:has(#generic--v:checked) #generic--s{
    display: block;
}
body:has(#generic--v:checked) #generic--t{
    background-color:#242d44;
}
body:has(#generic--v:checked) #start--s{
    display: none;
}

/* semantic tags */
body:has(#semantic--v:checked) #semantic--s{
    display: block;
}
body:has(#semantic--v:checked) #semantic--t{
    background-color:#242d44;
}
body:has(#semantic--v:checked) #start--s{
    display: none;
}

/* text-content tags */
body:has(#text-content--v:checked) #text-content--s{
    display: block;
}
body:has(#text-content--v:checked) #text-content--t{
    background-color:#242d44;
}
body:has(#text-content--v:checked) #start--s{
    display: none;
}

/* list tags */
body:has(#list--v:checked) #list--s{
    display: block;
}
body:has(#list--v:checked) #list--t{
    background-color:#242d44;
}
body:has(#list--v:checked) #start--s{
    display: none;
}

/* table tags */
body:has(#table--v:checked) #table--s{
    display: block;
}
body:has(#table--v:checked) #table--t{
    background-color:#242d44;
}
body:has(#table--v:checked) #start--s{
    display: none;
}

/* link tags */
body:has(#link--v:checked) #link--s{
    display: block;
}
body:has(#link--v:checked) #link--t{
    background-color:#242d44;
}
body:has(#link--v:checked) #start--s{
    display: none;
}

/* form tags */
body:has(#form--v:checked) #form--s{
    display: block;
}
body:has(#form--v:checked) #form--t{
    background-color:#242d44;
}
body:has(#form--v:checked) #start--s{
    display: none;
}

/* media tags */
body:has(#media--v:checked) #media--s{
    display: block;
}
body:has(#media--v:checked) #media--t{
    background-color:#242d44;
}
body:has(#media--v:checked) #start--s{
    display: none;
}

/* show-all */
body:has(#show-all--v:checked) section{
    display: block !important;
}
body:has(#show-all--v:checked) #show-all--t{
    background-color:#242d44;
}