@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu/Ubuntu-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}
 
body{
    background-color: #0e121b;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    font-family: 'Ubuntu';
}

/* navbar */

nav{
   position: fixed;
   user-select: none;
   width: 21vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: #000000;
   border-right: 2px solid #202738;
   padding: 30px 15px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   overflow-y: scroll;
   scrollbar-width: none;
}

header{
    /* width: 25vw;
    height: 100vh; */
    /* background-color: aqua; */
    grid-column: col-start / span 3;
}

nav > h2 {
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#logo{
    width: 7vw;
    margin-left: auto;
    margin-right:auto;
}

ul{
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* width: 100%; */
}

/* li{
    list-style: none;
} */

.topic-1{
   font-size: large;
   list-style: none;
   color: #f5f5f5;
   padding: 6px 0px 6px 6px;
   /* link-w!! */
   /* width: 100%; */
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

a{
    text-decoration: none;
    color: #f5f5f5;
}

.topic-1 > svg {
    margin-right: 7px;
}

/* .topic-1 > svg:focus {
    transform: rotate(45deg);
} */

.topic-1:hover{
    background-color:#36415f;
}

.active{
    background-color:#242d44;
}

.second-active{
    color:#93a3c9 ;
}

/* sub list */

.sub-list{
    padding-left: 20px;
    display: none;
}

/* main */
main{
    grid-column: col-start 4 / span 9;
    margin: 5vh 2vw;
    /* background-color: red; */
    /* justify-items: center; */
}

.img-div{
    width: 100%;
    display: flex;
}

#home-logo{
    width: 30vw;
    margin-left: auto;
    margin-right:auto;
}

.heading-1{
    font-size: 60px;
    font-weight: lighter;
    margin:5vh 0;
}

.heading-2{
    font-size: 50px;
    font-weight: lighter; 
    margin:3vh 1vw;
}

p{
  font-size: 25px;
  font-weight: lighter;
  color: #9da3af;
  margin: 4vh 3vw; 
  line-height: 1.3;
}
pre{
    padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  color: #9da3af;
  margin: 4vh 1vw; 
  line-height: 1.3;
  border: 1px solid #9da3af;
  border-radius: 5px;
}

hr{
    margin: 10px 0;
    border-color: #9da3af;
}

strong{
  color: #fff;
  font-weight: bold;
}

.inner-list{
    margin-left: 4vw; font-size: 22px; color: #9da3af;
}

/* iframe */
.vid-frame{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.vid-div{
    margin: 10vh 0;
    width: 100%;
    height: 50vh !important;
}

.vid-frame > iframe{
    border-radius: 10px;
    width: 70% !important;
    height: 90% !important;
}

.vid-title{
    color: #6e7fa1;
    font-size: 25px;
}

.content-img{
    width:70%;
    margin: 7vh auto;
    display: flex;
    border-radius: 5px;
}

.hide{
    display: none;
}

code{
  font-size: 22px;
  font-weight: lighter;
  color: #d6d9df;
  margin: 5vh 6vw; 
  line-height: 1.3;
}
.underline{
    text-decoration: underline;
}

textarea{
    resize: none;
    width: 40vw;
}