@media (max-width: 500px) {
   header{
    /* visibility: hidden; */
    z-index: 10;
    height: 100%;
   }
   nav{
    width: 70vw;
   }
   main{
    grid-column: col-start / span 12;
    margin: 0;
   }
   section{
    /* display: block; */
    margin: 0 auto;
    width: 90%;
   }
   .heading-1{
    font-size: 30px;
    font-weight: lighter;
    margin:5vh 0;
}
.heading-2{
    font-size: 25px;
    font-weight: lighter; 
    margin:3vh 1vw;
}
   p{
    margin: 0 2vw;
    font-size: 18px;
   }
   pre{
    margin: 0;
    font-size: 18px;
   }
   .inner-list{
    margin-left: 4vw;
    font-size: 16px;
}
   code{
    margin: 0;
    font-size: 18px;
   }

   /* individual */
   #logo{
    width: 20vw;
   }

   #home-logo{
    width: 70vw;
   }

   #toggle-btn{
    display: block;
   }

   body:has(main:hover) header{
    visibility: hidden;
   }

   .vid-frame > iframe{
    border-radius: 10px;
    width: 95% !important;
    height: 75% !important;
}

.vid-frame{
    margin: 5vh 0;
}

.content-img{
    width:90%;
    margin: 7vh auto;
    display: flex;
    border-radius: 5px;
}

.vid-title{
    font-size: 20px;
}
}

@media (min-width: 501px) {
    .cancel-btn{
        visibility: hidden;
    }
}