@media (max-width: 500px) {
   header{
    /* visibility: hidden; */
    z-index: 10;
    height: 100%;
   }
   nav{
    width: 70vw;
   }
   main{
    grid-column: col-start / span 12;
    margin: 0;
   }
   section{
    /* display: block; */
    margin: 0 auto;
    width: 90%;
   }
   .heading-1{
    font-size: 30px;
    font-weight: lighter;
    margin:5vh 0;
}
.heading-2{
    font-size: 25px;
    font-weight: lighter; 
    margin:3vh 1vw;
}
   p{
    margin: 0 2vw;
    font-size: 18px;
   }
   pre{
    margin: 0;
    font-size: 18px;
   }
   .inner-list{
    margin-left: 4vw;
    font-size: 16px;
}
   code{
    margin: 0;
    font-size: 18px;
   }

   /* individual */
   #logo{
    width: 20vw;
   }

   #home-logo{
    width: 70vw;
   }

   #toggle-btn{
    display: block;
   }

   body:has(main:hover) header{
    visibility: hidden;
   }

   .vid-frame > iframe{
    border-radius: 10px;
    width: 95% !important;
    height: 75% !important;
}

.vid-frame{
    margin: 5vh 0;
}

.content-img{
    width:90%;
    margin: 7vh auto;
    display: flex;
    border-radius: 5px;
}

.vid-title{
    font-size: 20px;
}
}

@media (min-width: 501px) and (max-width:800px) {
   header{
    /* visibility: hidden; */
    z-index: 10;
    height: 100%;
   }
   nav{
    width: 60vw;
   }
   main{
    grid-column: col-start / span 12;
    margin: 0 1vw;
   }
   section{
    /* display: block; */
    margin: 0 auto;
    width: 90%;
   }
   .heading-1{
    font-size: 40px;
    font-weight: lighter;
    margin:5vh 0;
}
.heading-2{
    font-size: 35px;
    font-weight: lighter; 
    margin:3vh 1vw;
}
   p{
    margin: 0 2vw;
    font-size: 28px;
   }
   pre{
    margin: 0;
    font-size: 28px;
   }
   .inner-list{
    margin-left: 4vw;
    font-size: 26px;
}
   code{
    margin: 0;
    font-size: 28px;
   }

   /* individual */
   #logo{
    width: 30vw;
   }

   #home-logo{
    width: 70vw;
   }

   #toggle-btn{
    display: block;
   }

   body:has(main:hover) header{
    visibility: hidden;
   }

   .vid-frame > iframe{
    border-radius: 10px;
    width: 90% !important;
    height: 60% !important;
}

.vid-frame{
    margin: 5vh 0;
}

.content-img{
    width:90%;
    margin: 7vh auto;
    display: flex;
    border-radius: 5px;
}

.vid-title{
    font-size: 30px;
}
}

@media (min-width: 801px) {
    .cancel-btn{
        visibility: hidden;
    }
}

@media (min-width: 1600px) {

#Tutorial{
      font-size: 40px;
}

label{
    font-size: 30px !important;
}
    
.heading-1{
    font-size: 70px;
    font-weight: lighter;
    margin:6vh 0;
}
.heading-2{
    font-size: 60px;
    font-weight: lighter; 
    margin:4vh 2vw;
}
   p{
    margin: 5vh 4vw; 
    font-size: 38px;
   }
   pre{
    margin: 5vh 2vw; 
    font-size: 38px;
   }
   .inner-list{
    margin-left: 5vw;
    font-size: 35px;
}
li{
    margin-left: 5vw;
    font-size: 35px;
}
   code{
    margin: 6vh 7vw; 
    font-size: 32px;
   }

   /* individual */
   #logo{
    width: 8vw;
   }

   #home-logo{
    width: 70vw;
   }

   .vid-frame > iframe{
    border-radius: 10px;
    width: 50% !important;
    height: 90% !important;
}

.vid-frame{
    margin: 5vh 1vw;
}

.content-img{
    width:90%;
    margin: 7vh auto;
    display: flex;
    border-radius: 5px;
}

.vid-title{
    font-size: 30px;
}
}